@media (max-width: 480px) {
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }
    body {
        background: white;
    }
    .sm {
        width: 3em;
        float: left;
        margin: 10% 
        display: inline-block;
        position: relative;
    }
    #home {
        max-width: 100%;
        height: auto !important;
        margin: 0 auto;
        width: 80%;
    }
}