@media (max-width: 480px) {
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }
    body {
        background: white;
    }
    #sm {
        width: 15%;
    }
    #home {
        max-width: 100%;
        height: auto !important;
        margin: 0 auto;
        width: 80%;
    }
}